.flex-container {
  display: flex;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.item2 {
  display: inline-block;
  align-self: flex-end;
}

.item1 {
  display: inline-block;
}
